<h1>Albums Page</h1>
<%= link_to  "Create Album", new_album_path, class: "btn btn-primary" %>
<hr>
<div class="w3-row-padding">
  <% @albums.each do |album| %>
  <%= link_to  post do %>
  <div class="w3-third w3-container w3-hover-opacity  my-blog-item">
    <%= image_tag(album.cover_url.to_s, alt: 'Image', class: "img-responsive", style: "width: 100%; height: 20vw; ;min-height:200px")%>
    <div class="w3-container w3-white">
      <h3>
        <b><%= album.title %></b>
      </h3>
      <p>
        <i>By:
          <%= album.user.email %>
        </p>
        <p>
          <i>Totalviews:
            <%= album.total_views %>
          </p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
